@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.recipients {
  background-color: $primary-color-grey;
  padding: 10px 0;

  &-name {
    display: flex;
    background-color: $primary-color-white;
    padding: 8px 16px;
  }

  &-icon {
    padding-left: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    background-color: $primary-color-white;
    padding: 8px 16px;

    &__id {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__number {
      font-size: 12px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      gap: 5px;
    }

    &__cost {
      display: flex;
      align-self: baseline;
      padding-top: 6px;
      font-size: 12px;
    }
  }
}
