@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.recipients {
  background-color: $primary-color-grey;
  color: $primary-color-navy;
  padding-top: 10px;

  &-name {
    display: flex;
    background-color: $primary-color-white;
    padding: 8px 16px;
  }

  &-icon {
    padding-left: 20px;
    width: 108px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color-white;
    padding: 8px 16px;

    &__id {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__number {
      font-size: 12px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      gap: 5px;
    }

    &__cost {
      display: flex;
      align-self: baseline;
      font-size: 12px;
    }

    &__remove {
      display: flex;
      align-items: center;
    }
  }

  &-containerleft {
    display: flex;
    gap: 0.5rem;
  }

  &-containerright {
    display: flex;
    padding-top: 4px;
    gap: 0.75rem;
  }
}
