@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.recipients {
  background-color: $primary-color-grey;
  color: $primary-color-navy;
  padding-top: 0.625rem;
  @include tablet {
    margin-left: 20%;
    padding: 0 1rem;
  }

  &-name {
    display: flex;
    background-color: $primary-color-white;
    padding: 1rem 1rem 0.5rem 1rem;
    font-weight: 500;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &-icon {
    padding-left: 1.25rem;
    width: 6.75rem;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color-white;
    padding: 0.5rem 1rem;

    &__name {
      font-weight: 500;
    }

    &__id {
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
    }

    &__number {
      font-size: 0.75rem;
    }

    &__details {
      display: flex;
      flex-direction: column;
      font-size: 0.75rem;
      gap: 0.3125rem;
    }

    &__cost {
      display: flex;
      align-self: baseline;
      font-size: 0.75rem;
      padding-right: 1rem;
    }

    &__cross {
      display: flex;
      align-items: center;
      @include tablet {
        display: none;
      }
    }

    &__remove {
      display: none;
      @include tablet {
        width: 3.4375rem;
        display: flex;
        align-items: center;
      }
    }
  }

  &-container__left {
    display: flex;
    gap: 0.5rem;
  }

  &-container__right {
    display: flex;
    padding-top: 0.25rem;
    gap: 0.75rem;
    @include tablet {
      gap: 14rem;
    }
  }

  &-tablet__bottom {
    padding-bottom: 1rem;
  }
}
