@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.table {
  display: none;
  @include tablet {
    width: 76%;
    background-color: $primary-color-white;
    display: inline-block;
    margin-left: 22%;
    margin-top: 2%;
    border-radius: 8px;
    padding: 24px;
    line-height: 2rem;
  }
  @include desktop {
    width: 66%;
    margin-left: 23%;
  }

  &-options {
    display: flex;
    padding-left: 0.5rem;
    gap: 2.5rem;
    font-size: 12px;
    &__all {
      font-size: 14px;
    }
  }

  &-headers {
    font-size: 12px;
    font-weight: normal;
  }

  &-event {
    padding-right: 1.5rem;
  }

  &-company {
    font-size: 12px;
    padding-right: 5rem;
    @include desktop {
      padding-right: 3rem;
    }
  }

  &-startdate {
    font-size: 12px;
  }

  &-expirydate {
    font-size: 12px;
    padding-left: 2rem;
    @include desktop {
      padding-left: 4rem;
    }
  }

  &-recipients {
    display: none;
    @include desktop {
      display: table-cell;
      font-size: 12px;
      padding-left: 5.5rem;
    }
  }

  &-icon {
    display: none;
    @include desktop {
      display: table-cell;
      margin-left: 62px;
      padding-top: 10px;
    }
  }

  &-end {
    padding-left: 2rem;
    @include desktop {
      padding-left: 4rem;
    }
  }

  &-desktop {
    display: none;
    @include desktop {
      display: table-cell;
      padding-left: 4rem;
    }
  }
}
