@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  &-bottom {
    background-color: $primary-color-grey;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-greeting {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
    @include tablet {
      padding-bottom: 0;
    }

    &__campaign {
      font-size: 1.25rem;
    }

    &__company {
      font-weight: 400;
    }
  }
  &-icon {
    padding-left: 1.25rem;
  }

  .mobile-container {
    display: none;
  }
}
