@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  &-bottom {
    background-color: $primary-color-grey;
    padding: 0px 16px 24px 16px;
    @include tablet {
      margin-left: 20%;
      display: flex;
      flex-direction: row;
    }
  }

  &-greeting {
    padding-bottom: 20px;

    &__message {
      font-size: 20px;
    }
  }

  &-button {
    padding-bottom: 24px;

    &__campaign {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 12px 30px 12px 70px;
      color: $primary-color-white;
      font-size: 16px;
      background-color: $primary-color-blue;
      border: none;
      border-radius: 8px;
      background-image: url(../../assets/icons/add.svg);
      background-repeat: no-repeat;
      background-position: 30% 50%;
    }
  }
}

.desktop-background {
  background-color: $primary-color-grey;
  padding-bottom: 24px;
  @include tablet {
    padding-bottom: 65px;
    height: 100vh;
  }
}

.desktop-container {
  @include tablet {
    margin-left: 20%;
    display: flex;
    padding-top: 16px;
  }

  &__right {
    @include tablet {
      width: 65%;
      margin-right: 16px;
    }
  }
}
