@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  &-dashboard {
    background-color: $primary-color-grey;
    padding: 0 1rem 1.5rem 1rem;
    @include tablet {
      margin-left: 20%;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      padding: 0 2.5rem;
    }
  }

  &-greeting {
    font-weight: 500;
    padding-bottom: 1.25rem;

    &__message {
      font-size: 1.25rem;
    }
  }

  &-button {
    padding-bottom: 1.5rem;

    &__campaign {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.75rem 1.875rem 0.75rem 4.375rem;
      color: $primary-color-white;
      font-size: 1rem;
      background-color: $primary-color-blue;
      border: none;
      border-radius: 0.5rem;
      background-image: url(../../assets/icons/add.svg);
      background-repeat: no-repeat;
      background-position: 30% 50%;
    }
  }
}

.desktop-background {
  background-color: $primary-color-grey;
  padding-bottom: 1.5rem;
  @include tablet {
    padding-bottom: 4.0625rem;
    height: 100vh;
  }
}

.desktop-container {
  @include tablet {
    margin-left: 20%;
    display: flex;
    padding-top: 1rem;
  }
  @include desktop {
    padding: 1.5rem;
  }

  &__right {
    @include tablet {
      width: 65%;
      margin-right: 1rem;
      padding-left: 1rem;
    }
  }
}
