@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.summary {
  @include tablet {
    display: none;
  }
  &-section {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 16px;
    color: $primary-color-navy;

    &__border {
      border-bottom: 1px solid #03134d33;
    }
  }
}
