@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.summary {
  @include tablet {
    display: none;
  }
  &-section {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: $primary-color-navy;

    &__border {
      border-bottom: 0.0625rem solid #03134d33;
    }
  }
}
