@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.options {
  background-color: $primary-color-grey;
  @include tablet {
    padding-top: 24px;
    margin-left: 20%;
    padding: 16px;
  }

  &-section {
    background-color: $primary-color-white;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 16px;
    color: $primary-color-navy;
  }

  &-stats {
    @include tablet {
      display: flex;
      gap: 1rem;
      padding-bottom: 8px;
    }
  }

  &-number {
    @include tablet {
      font-size: 32px;
      padding-top: 8px;
    }
  }

  &-payment {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 18px;
    @include tablet {
      background-color: $primary-color-grey;
      position: absolute;
      width: 125px;
      padding: 0;
      margin: 0;
      top: 85px;
      right: 10px;
      font-weight: 400;
    }
    @include desktop {
      display: none;
    }
  }

  &-recipients {
    margin-top: 10px;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 18px;
  }

  &-details {
    cursor: pointer;
    padding: 12px 16px;
    font-size: 18px;
    @include tablet {
      background-color: $primary-color-grey;
      position: absolute;
      width: 125px;
      padding: 0;
      margin: 0;
      top: 85px;
      right: 5px;
      font-weight: 400;
    }
    @include desktop {
      display: none;
    }
  }

  &-border {
    border-bottom: 1px solid #03134d33;
    font-weight: 500;
    @include tablet {
      border: none;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      width: 160px;
    }
  }

  &-underline {
    @include tablet {
      text-decoration: underline;
    }
  }

  &-arrow__icon {
    @include tablet {
      display: none;
    }
  }

  &-button {
    width: 36px;
  }

  &-form {
    display: none;
    @include tablet {
      background-color: $primary-color-white;
      display: flex;
      padding: 0 16px 16px 16px;

      &__container {
        display: flex;
        align-items: flex-end;
        gap: 10px;
      }

      &__input {
        color: $primary-color-navy;
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
    }
  }

  &-desktop {
    display: none;
    @include desktop {
      display: block;
    }
  }

  #nameInput,
  #emailInput {
    border: 0.5px solid $primary-color-navy;
    border-radius: 8px;
    background-color: $primary-color-grey;
    font: $font-family;
    resize: none;
    width: 230px;
    margin-top: 8px;
    padding-left: 8px;
  }
}
