@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.allcampaign {
  background-color: $primary-color-grey;
  @include tablet {
    display: none;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: $primary-color-navy;
    padding: 1rem 0 0.5rem 1rem;
  }

  &-details {
    display: flex;
    flex-direction: column;
    background-color: $primary-color-white;
  }

  &-container {
    color: $primary-color-black;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    border-bottom: 0.0625rem solid #03134d33;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-name {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
  }

  &-icon {
    width: 4.0625rem;

    &__fulfilled {
      width: 5rem;
    }
  }

  &-company {
    font-size: 1rem;
    padding-bottom: 0.3125rem;
  }

  &-recipients,
  &-date {
    font-size: 0.9375rem;
    padding-bottom: 0.3125rem;
  }

  &-golf {
    border: none;
  }
}
