@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-grey;
  padding: 1.875rem 1rem 0 1rem;
  @include tablet {
    margin-left: 20%;
    padding-top: 0.3125rem;
    padding-bottom: 0;
  }

  &-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    @include tablet {
      padding-bottom: 1.5rem;
    }
    @include desktop {
      padding: 1.5rem;
    }
  }

  &-logo__icon {
    width: 8.125rem;
    @include tablet {
      display: none;
    }
  }

  &-container {
    display: flex;
  }
}
