@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.campaign {
  z-index: 1;
  padding: 20px 16px 8px 16px;
  background-color: $primary-color-white;
  @include tablet {
    border-radius: 8px;
  }
  @include desktop {
    position: absolute;
    left: 296px;
    top: 300px;
    width: 512px;
  }

  &-title {
    font-size: 20px;
    font-weight: 500;
    color: $primary-color-navy;
    padding-bottom: 8px;
  }

  &-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: $primary-color-grey;
    margin: 10px 0;
    padding: 10px 24px;
    border-radius: 8px;
    color: $primary-color-black;
    cursor: pointer;

    &:hover {
      @include tablet {
        background: rgba(24, 132, 250, 0.15);
        border-radius: 8px;
        width: 100%;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &-name {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  &-company {
    font-size: 12px;
  }

  &-date {
    font-size: 12px;
  }
}

.container-one {
  @include tablet {
    gap: 2rem;
  }
}
.container-two {
  @include tablet {
    gap: 3rem;
  }
}
.container-three {
  @include tablet {
    gap: 5rem;
  }
}
