@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-color: $primary-color-white;
  padding: 10px 0;
  border-top: 1px solid #03134d33;
  position: sticky;
  bottom: 0;
  @include tablet {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 20%;
    padding: 15px 16px 0 16px;
    border-top: none;
    border-right: 1px solid #03134d33;
  }
  @include desktop {
    padding-left: 16px;
    padding-right: 16px;
  }

  &-exit {
    display: none;
    @include tablet {
      display: flex;
      padding-left: 16px;
    }
  }

  &-logo {
    display: none;
    @include tablet {
      display: flex;
      padding: 20px;
    }
    &__icon {
      width: 110px;
    }
  }

  &-link {
    font-size: 12px;

    &:hover {
      @include tablet {
        background: rgba(24, 132, 250, 0.15);
        border-radius: 8px;
        width: 100%;
      }
    }

    &__dashboard,
    &__campaigns,
    &__assets,
    &__settings {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        flex-direction: row;
        margin: 16px 22px;
        gap: 0.5rem;
      }
    }

    &__tablet {
      display: none;
      @include tablet {
        display: flex;
      }
    }
    &__mobile {
      @include tablet {
        display: none;
      }
    }
  }

  &-icon {
    width: 23px;
    padding-bottom: 5px;
    @include tablet {
      width: 19px;
    }
  }
}
