@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.invites {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-grey;
  padding: 20px 16px 10px 16px;
  @include tablet {
    background-color: $primary-color-white;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  &-carousel {
    display: flex;
    gap: 1rem;
    @include tablet {
      display: inline;
    }
  }

  &-title {
    font-size: 20px;
    padding-bottom: 16px;
    @include tablet {
      color: $primary-color-navy;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    color: $primary-color-navy;
    background-color: $primary-color-white;
    width: 60%;
    border-radius: 8px;
    padding: 24px 8px 16px 8px;
    margin-bottom: 10px;
    @include tablet {
      background-color: $primary-color-grey;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 16px;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include tablet {
      padding-left: 8px;
      gap: 10px;
    }
  }

  &-avatar__initials {
    border: 0.5px solid rgba(3, 19, 77, 0.6);
    border-radius: 50px;
    padding: 10px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: flex-end;
    }

    &__date {
      font-size: 12px;
      padding: 5px 0 16px 0;
      @include tablet {
        padding: 0 0 1px 40px;
      }
    }
  }

  &-button__resend {
    background-color: $primary-color-white;
    color: $primary-color-navy;
    font-size: 12px;
    width: 100%;
    border: 0.5px solid $primary-color-navy;
    border-radius: 8px;
    padding: 8px;
    @include tablet {
      background-color: $primary-color-grey;
      padding: 4px 16px;
    }
  }
}
