@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.stats {
  @include tablet {
    padding-left: 16px;
  }
  &-section {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 16px;
    color: $primary-color-navy;
    background-color: $primary-color-white;
    @include tablet {
      flex-direction: column;
      width: 160px;
      margin-bottom: 16px;
      border-radius: 8px;
      gap: 0.5rem;
    }

    &__middle {
      border-top: 1px solid #03134d33;
      border-bottom: 1px solid #03134d33;
      @include tablet {
        border: none;
      }
    }
  }
  &-figure {
    font-size: 20px;
    @include tablet {
      font-size: 24px;
    }
  }
}
