@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.stats {
  font-weight: 500;
  @include tablet {
    padding-left: 1rem;
  }
  @include desktop {
    display: flex;
    height: 20%;
    gap: 1rem;
  }
  &-section {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem 0 1rem;
    font-size: 1rem;
    color: $primary-color-navy;
    background-color: $primary-color-white;
    @include tablet {
      flex-direction: column;
      width: 10.625rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      padding-bottom: 0.5rem;
      gap: 0.5rem;
    }
    @include desktop {
      padding: 1rem;
    }

    &__middle {
      border-top: 0.0625rem solid #03134d33;
      border-bottom: 0.0625rem solid #03134d33;
      @include tablet {
        border: none;
      }
    }
  }
  &-figure {
    font-size: 1.25rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
}
