@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  &-bottom {
    background-color: $primary-color-grey;
    padding: 0px 16px 24px 16px;
    @include tablet {
      margin-left: 20%;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      padding: 0 40px;
    }
  }

  &-greeting {
    padding-bottom: 20px;

    &__message {
      font-size: 20px;
    }
  }

  &-button {
    padding-bottom: 24px;
    @include tablet {
      padding-bottom: 0;
    }

    &__campaign {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 12px 30px 12px 70px;
      color: $primary-color-white;
      font-size: 16px;
      background-color: $primary-color-blue;
      border: none;
      border-radius: 8px;
      background-image: url(../../assets/icons/add.svg);
      background-repeat: no-repeat;
      background-position: 30% 50%;
      @include tablet {
        width: 184px;
        height: 45px;
        padding-left: 55px;
        padding-right: 20px;
        background-position: 10% 50%;
      }
    }
  }
}

.campaign-background {
  @include tablet {
    height: 100vh;
    background-color: $primary-color-grey;
  }
}
