@use "./mixins" as *;
@use "./variables" as *;

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Light.otf") format("opentype");
  font-weight: 400;
  font-style: light;
}
