@font-face {
  font-family: "Sailec";
  src: url("../src/assets/fonts/Sailec-Regular.otf") format(opentype);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../src/assets/fonts/Sailec-Light.otf") format(opentype);
  font-weight: 400;
  font-style: light;
}
