$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$font-family: "Sailec", sans-serif;

// COLOURS
$primary-color-black: #000000;
$primary-color-blue: #1884fa;
$primary-color-grey: #e5e5e5;
$primary-color-white: #ffffff;
$primary-color-navy: #03134d;
$hover-color-blue: rgba(24, 132, 250, 0.15);
$inactive-color-blue: rgba(3, 19, 77, 0.6);
