@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.recipientsinfo {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-grey;
  @include tablet {
    margin-left: 20%;
    padding: 0 1rem 1rem 1rem;
  }

  &-title {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }

  &-card {
    display: flex;
    flex-direction: column;
    color: $primary-color-navy;
    background-color: $primary-color-white;
    padding: 1.5rem 1rem 1rem 1rem;
    margin-top: 0.625rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem 0.75rem 1rem;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    @include tablet {
      padding-bottom: 0;
      padding-top: 0.75rem;
    }

    &__left {
      display: flex;
    }
  }

  &-avatar__initials {
    border: 0.0313rem solid rgba(3, 19, 77, 0.6);
    border-radius: 3.125rem;
    padding: 0.625rem;
    font-weight: 500;
  }

  &-details {
    display: flex;
    flex-direction: column;
    padding-left: 0.75rem;
    @include tablet {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &__name {
    font-weight: 500;
  }

  &__email {
    font-size: 0.75rem;
    padding: 0.3125rem 0 1rem 0;
    @include tablet {
      padding-top: 0.1875rem;
    }
  }

  &__unanswered {
    width: 5.4375rem;
    @include tablet {
      width: 6.5625rem;
      padding-left: 1.5rem;
    }
  }

  &-button__reminder {
    background-color: $primary-color-white;
    color: $primary-color-navy;
    font-size: 0.75rem;
    width: 50%;
    border: 0.0313rem solid $primary-color-navy;
    border-radius: 0.5rem;
    padding: 0.5rem;
    @include tablet {
      width: 7.3125rem;
    }
  }
}
