@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.recipientsinfo {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-grey;

  &-title {
    font-size: 20px;
    padding-bottom: 16px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    color: $primary-color-navy;
    background-color: $primary-color-white;
    border-radius: 8px;
    padding: 24px 16px 16px 16px;
    margin-top: 10px;
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;

    &__left {
      display: flex;
    }
  }

  &-avatar__initials {
    border: 0.5px solid rgba(3, 19, 77, 0.6);
    border-radius: 50px;
    padding: 10px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
  }

  &__email {
    font-size: 12px;
    padding: 5px 0 16px 0;
  }

  &-button__reminder {
    background-color: $primary-color-white;
    color: $primary-color-navy;
    font-size: 12px;
    width: 50%;
    border: 0.5px solid $primary-color-navy;
    border-radius: 8px;
    padding: 8px;
  }
}
